.wrapper-timeline-node {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 25px;
    width: 98%;
    margin: 0px 0px 20px 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.info-user-wrapper-timeline-node {
    width: 95%;
    text-align: start;
    display: flex;
    flex-direction: row;
    
}
.avatar-user-timeline-node {
    background-image: url("../../../../text-data/user.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    
}
.name-user-timeline-node {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 350;
}
.interact-bar-wrapper-timeline-node {
    width: 95%;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.interact-bar-wrapper-timeline-node > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 25px;
}
.icon-like-wrapper-interact-bar-timeline-node {
    background-image: url("../../../icon/like_24px.png");
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
}
.value-like-wrapper-interact-bar-timeline-node {
    font-size: 18px;
    display: flex;
    margin-left: 10px;
}
.icon-dislike-wrapper-interact-bar-timeline-node {
    background-image: url("../../../icon/dislike_24px.png");
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
}
.value-dislike-wrapper-interact-bar-timeline-node {
    font-size: 18px;
    display: flex;
    margin-left: 10px;
}
.icon-menu-wrapper-interact-bar-timeline-node {
    background-image: url("../../../icon/menu_card_24px.png");
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
}
.content-wrapper-timeline-node {
    margin: 15px 0px;
}
@media screen and (max-width: 300px) {
    .wrapper-timeline-node {
        width: 90%;
    }
}