.wrapper-404-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    
}
.oops-404-page {
    font-size: 48px;
}
.number-404-page {
    background-image: linear-gradient(45deg, blue, red);
    background-clip: text;
    color: transparent;
    font-size: 120px;
    font-weight: bold;
}
.nocafition-404-page {
    font-size: 24px;
    font-weight: 350;
    text-align: center;
}
@media screen and (max-width: 300px) {
    .oops-404-page {
        font-size: 24px;
    }
    .number-404-page {
        font-size: 48px;
    }
    .nocafition-404-page {
        font-size: 12px;
    }
}
    