.wrapper{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(45deg, blue, red);
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame{
    margin: 25px 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-height: 80%;
    width: 60%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow: clip;
    border-radius: 25px;
}
.title {
    align-items: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;

}

.input::placeholder{
    color: #7b7684;
}
.input:focus {
    outline: none !important;
    
}
.input {
    width: 60%;
    font-size: 18px !important;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    align-items: center;
    margin: 10px 0px;
    padding: 8px 15px;
    border-radius: 25px !important;
    border: none;
    background-color: #f0f2f5;
    color: #7b7684;
}
.button {
    margin: 25px 0px;
    border: none;
    font-size: 24px !important;
    padding: 5px 50px !important;
    color: white    ;
    background-color:#A28803  !important;
    border-radius: 25px; 
}
.button:hover{
    color: gray;
    background-color: #70600E !important;
}
.func {
    margin: 4px 0px;
}
.author {
    margin: 10px 0px;
    font-style: italic;
}
.store-login-account {
    display: flex;
    flex-direction: row;
}

