.display-panel-profile {
    width: 65%;
    min-height: 50vh;
    background-color: white;
    border: none;
    border-radius: 25px;
}
@media screen and (max-width: 700px) {
    .display-panel-profile {
        width: 90%;
    }
    
}