.wrapper-navar-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-between;
    box-shadow: 0px 0px   15px 0px gray;
}
.logo-navar-bar {
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(90deg, blue, red);
    color: transparent;
    background-clip: text;
    margin-left: 30px;
}
.search-bar{
    width: 40%;
    font-size: 18px !important;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    padding: 5px 10px;
    border-radius: 25px !important;
    border: none;
    background-color: #C4C4C4;
    color: white !important;

}
.search-bar::placeholder{
    color: white;
}
.search-bar:focus {
    outline: none;
}