.wrapper-profile {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #f0f2f5;
    overflow-x: hidden;
}
.body-profile {
    display: flex;
    width: 100%;
    min-width: 100vw;
    flex-direction: row;
    min-height: 90vh;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 65px;
    overflow: hidden;
}