.wrapper-profile {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #f0f2f5;
    overflow-x: hidden;
}
.body-profile {
    display: flex;
    width: 100%;
    min-width: 100vw;
    flex-direction: row;
    min-height: 90vh;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 65px;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    border: 1px #808080 ;
    background-color: #808080;
    border-radius: 25px;
}
body::-webkit-scrollbar-track {
    background-color: #d3d3c3;
}