.call-screen-wrapper {
    width: 100%;
    height: 100%;
    background-color: #BCBCBC;
    display: flex;
    flex-direction: column;
}
.call-screen-title-bar {
    width: 100%;
    height: 50px;
    background-color: #777777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call-screen-title-bar > div {
   color: #ffffff;
   font-size: 18px;
   margin: 0 20px;
   box-sizing: border-box;
}
.call-screen-contain-area {
    width: 100%;
    height: calc(100% - 120px);
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.call-screen-contain-area::-webkit-scrollbar {
    width: 10px;
 }
 .call-screen-contain-area::-webkit-scrollbar-track {
     background: #bcbcbc;
 }
 .call-screen-contain-area::-webkit-scrollbar-thumb {
     background-color: #808080;
     border-radius: 5px;
     border: 1px solid #808080;
 }
.call-screen-controll-bar {
    width: 100%;
    height: 70px;
    background-color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-screen-controll-bar > div:not(:nth-child(3)) {
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 100rem;
    padding: 10px;
    background-color: #d7d7d7;
    margin: 0 30px;

}

.call-screen-camera-controll-button {
    background-image: url("../../../icon/video_call_50px_ffffff.png");
}
.call-screen-micro-controll-button {
    background-image: url("../../../icon/microphone_50px_fffffff.png");
}
.call-screen-stop-call-controll-button {
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 100rem;
    padding: 10px;
    background-color: #f32323;
    margin: 0 30px;
    background-image: url("../../../icon/phone_50px_ffffff.png");
}
.call-screen-speaker-controll-button {
    background-image: url("../../../icon/speaker_50px_ffffff.png");
}
.call-screen-record-call {
    background-image: url("../../../icon/video_record_50px_ffffff.png");
}

.own-call-item {
    border: 1px solid #ffffff;
    width: 40%;
    margin: 15px 15px;
    height: auto;
    padding: 20px 0px;
    background-color: #666666;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 70px;
    right: 10px;
}
.own-call-item-avatar {
    height: 150px;
    width: 150px;
    background-image: url("../../../../text-data/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100rem;
}
.own-call-item-name {
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
}
@media screen and (max-width: 400px) {
    .own-call-item-avatar {
        height: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 500px) {
    .call-screen-controll-bar > :last-child {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .call-screen-controll-bar > :nth-child(4) {
        display: none;
    }
}
