
.wrapper-login-page{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-image: linear-gradient(45deg, blue, red);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 100vh;
    overflow: hidden;
    
}
.frame-login-page{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    height: auto;
    width: auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow: clip;
    border-radius: 25px;
}
.title-login-page {
    align-items: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}
.progress-num-login-page {
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

.input-login-page::placeholder{
    color: #7b7684;
}
.input-login-page:focus {
    outline: none !important;
    
}
.input-login-page {
    width: 50vw;
    font-size: 18px !important;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    align-items: center;
    margin: 10px 20px;
    padding: 8px 15px;
    border-radius: 25px !important;
    border: none;
    background-color: #f0f2f5;
    color: #7b7684 !important;

}
.button-login-page {
    margin: 25px 0px;
    border: none;
    font-size: 24px !important;
    padding: 5px 40px !important;
    color: white    ;
    background-color:#A28803  !important;
    border-radius: 25px; 
}
.button-login-page:disabled {
    background-color: #7b7684 !important;
}
.button-login-page:hover{
    color: gray;
    background-color: #70600E !important;
}
.button-login-page:disabled:hover{
    background-color: #7b7684 !important;
    color: white;
}
.func-login-page {
    margin: 4px 0px;
}
.author-login-page {
    margin: 10px 0px;
    font-style: italic;
}
.store-login-account-login-page {
    display: flex;
    flex-direction: row;
}
.avatar-preview-login-page {
    margin: 30px;
    width: 250px;
    height: 250px;
    background-image: url('../../../image/default_avatar.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100rem;
}
.avatar_upload_login_page {
    opacity: 0;
    display: none;
}
.avatar_upload_label_login_page {
    padding: 10px 20px;
    background-color: rgb(31, 31, 241);
    color: white;
    display: flex;
    cursor: pointer;
    align-items:  center;
    border-radius: 15px;

}
.avatar_upload_label_login_page > span {
    width: 25px;
    height: 25px;
    background-image: url('../../../icon/upload_white_127px.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.avatar_upload_label_login_page > div {
    font-size: 18px;
    margin: 0 10px;
}
